[Unit]
Description=Terra Virtualis Service
ConditionPathExists=/opt/{{ project_root }}
After=network.target

[Service]
Type=simple
User=root
Group=root
LimitNOFILE=1024

Restart=on-failure
RestartSec=10
startLimitIntervalSec=60

WorkingDirectory=/opt/{{ project_root }}
ExecStart=/opt/{{ project_root }}/start_service.sh
[Install]
WantedBy=multi-user.target